{% extends 'layouts/main.html' %}

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40">
    <!--Use the 'border success' style to display payment amount and ID-->
    <div class="mt-20 border-success">
    <div id="charge-amount" class='px-4 py-4'></div>
    <div id="pid" class='px-4 py-4'></div>
      <pre id="payment-intent"></pre>
    </div>
  </div>
</main>
{% endblock %}
